<ion-header>
  <ion-toolbar>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
  <ion-item>
    <ion-avatar item-start>
        <img src="assets/images/avatar.jpg">
    </ion-avatar>

    <h2>{{ nome_Usuario }}</h2><br/>

    
  </ion-item>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>


</ion-content>
